<div id="order-new" class="col-12">
  <%= render :partial => 'layouts/notice', :locals => { :errors => @order.errors, :notice => notice, :alert => alert } %>
  <div class="row">
    <%= render 'admin/products/product_list' %>
    <aside class="col-12 col-lg-4 left-form">
      <div class="row">
        <% unless @current_branch_setting.branch_setting_user_type.user_type_id==1 %>
          <%= render 'search_user_form' %>
        <% end  %>
          <%= render 'form', order: @order %>
      </div>
    </aside>
  </div>
</div>
