<div class="row">
  <div  class="col-12">
    <h1 class="mt-3"><%=t(:order_complete) %></h1>
    <div class="card">
      <div class="card-body">
        <p><%=raw t(:order_complete_description, order_id: @order.id) %></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="d-grid gap-2 mt-3">
      <%=link_to t(:close_now),root_path,:class=>"btn btn-secondary btn-lg" %>
    </div>
  </div>
</div>
<script>

    var seconds_left = 10;
    var interval = setInterval(function() {
        document.getElementById('timer_span').innerHTML = --seconds_left;

        if (seconds_left <= 0)
        {
            location.href = '/';
            clearInterval(interval);
        }
    }, 1000);
</script>