<% if @product_categories.present? %>
  <div class="col-12 order-layer">
    <nav class="sub-nav">
      <ul class="nav nav-pills">
        <% @product_categories.each do |product_category|
          a_class = 'nav-link product-category-link'

          if @product_category.present?
            if @product_category.id == product_category.id
              a_class += ' active'
            end
          end
        %>
          <li class="nav-item"><%= link_to product_category.title, url_for(:product_category_id => product_category), { :class => a_class } %></li>
        <% end %>
      </ul>
    </nav>
  </div>
<% end %>
