
  <div class="modal-header">
    <h4 class="modal-title text-left" id="myModalLabel"><%=@product.title %></h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p><%= number_to_currency @product.price %>
    </p>
    <% if @product.content.present? %>
    <p><%=simple_format @product.content.to_s %></p>
    <% end%>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t(:confirm) %></button>
  </div>
