<header>
  <div class="container-fluid">
    <h1><%=link_to @title,root_path %></h1>
    <div id="top-menu">
      <% unless current_page?(root_path) %>
        <div id="mobile-back">
          <%=link_to 'javascript:history.go(-1);' do %>
            <span class="material-icons" class="d-block d-lg-none">keyboard_arrow_left</span>
          <% end %>
        </div>
      <% end %>
      <div id="mobile-menu-back">&nbsp;</div>
      <div id="mobile-menu" class="d-block d-lg-none">
        <%=link_to '' do %>
          <span class="material-icons">menu</span>
        <% end %>
      </div>

      <div id="top-user-menu">
        <%=link_to '',id: 'mobile-menu-close',class: 'd-block d-lg-none' do %>
          <span class="material-icons">cancel</span>
        <% end %>
      </div>
    </div>
  </div>
</header>